# Multiple Linear Regression

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [2]:
Train = pd.read_csv('Train.csv')
Test = pd.read_csv('Test.csv')
VariableDefinitions = pd.read_csv('VariableDefinitions.csv')
SampleSubmission = pd.read_csv('SampleSubmission.csv')
Riders = pd.read_csv('Riders.csv')

In [3]:
Train.head(5)

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [4]:
Train.shape

(21201, 29)

In [6]:
df=Train[['Pickup - Weekday (Mo = 1)', 'Distance (KM)', 'Temperature', 'Time from Pickup to Arrival']]

In [11]:
X = df.iloc[:,:-1]
Y = df.iloc[:,3:]

In [8]:
X.head()

   Pickup - Weekday (Mo = 1)  Distance (KM)  Temperature
0                          5              4         20.4
1                          5             16         26.4
2                          2              3          NaN
3                          5              9         19.2
4                          1              9         15.4

In [12]:
Y.head()

   Time from Pickup to Arrival
0                          745
1                         1993
2                          455
3                         1341
4                         1214

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Pickup - Weekday (Mo = 1)    21201 non-null  int64
 1   Distance (KM)                21201 non-null  int64
 2   Temperature                  16835 non-null  float64
 3   Time from Pickup to Arrival  21201 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 662.7 KB

## Encoding categorical data

In [94]:
X.head(3)

   Pickup - Weekday (Mo = 1)  Distance (KM)  Temperature
0                          5              4         20.4
1                          5             16         26.4
2                          2              3          NaN

In [95]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
X=np.array(X)
imputer.fit(X[:,1:3])
X[:,1:3] = imputer.transform(X[:,1:3])

In [96]:
X

array([[ 5.        ,  4.        , 20.4       ],
       [ 5.        , 16.        , 26.4       ],
       [ 2.        ,  3.        , 23.25888922],
       ...,
       [ 4.        , 20.        , 29.2       ],
       [ 3.        , 13.        , 15.        ],
       [ 2.        , 12.        , 30.9       ]])

In [97]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
#ri = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [-1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
#X = np.array(ri.fit_transform(pd.DataFrame(X)))

In [98]:
X

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         4.        , 20.4       ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
        16.        , 26.4       ],
       [ 0.        ,  1.        ,  0.        , ...,  0.        ,
         3.        , 23.25888922],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
        20.        , 29.2       ],
       [ 0.        ,  0.        ,  1.        , ...,  0.        ,
        13.        , 15.        ],
       [ 0.        ,  1.        ,  0.        , ...,  0.        ,
        12.        , 30.9       ]])

In [78]:
X = pd.DataFrame(X)
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [79]:
print(X)

  (0, 362)	1.0
  (0, 924)	5.0
  (0, 925)	4.0
  (0, 926)	20.4
  (1, 812)	1.0
  (1, 924)	5.0
  (1, 925)	16.0
  (1, 926)	26.4
  (2, 61)	1.0
  (2, 924)	2.0
  (2, 925)	3.0
  (2, 926)	23.25888921888922
  (3, 811)	1.0
  (3, 924)	5.0
  (3, 925)	9.0
  (3, 926)	19.2
  (4, 720)	1.0
  (4, 924)	1.0
  (4, 925)	9.0
  (4, 926)	15.4
  (5, 29)	1.0
  (5, 924)	5.0
  (5, 925)	9.0
  (5, 926)	27.2
  (6, 18)	1.0
  :	:
  (21194, 926)	23.25888921888922
  (21195, 262)	1.0
  (21195, 924)	6.0
  (21195, 925)	17.0
  (21195, 926)	29.0
  (21196, 914)	1.0
  (21196, 924)	3.0
  (21196, 925)	3.0
  (21196, 926)	28.6
  (21197, 61)	1.0
  (21197, 924)	6.0
  (21197, 925)	7.0
  (21197, 926)	26.0
  (21198, 644)	1.0
  (21198, 924)	4.0
  (21198, 925)	20.0
  (21198, 926)	29.2
  (21199, 270)	1.0
  (21199, 924)	3.0
  (21199, 925)	13.0
  (21199, 926)	15.0
  (21200, 84)	1.0
  (21200, 924)	2.0
  (21200, 925)	12.0
  (21200, 926)	30.9

## Splitting the dataset into the Training set and Test set

In [115]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

## Training the Multiple Linear Regression model on the Training set

In [105]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Predicting the Test set results

In [116]:
Y_test = np.array(Y_test['Time from Pickup to Arrival'])

In [117]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), Y_test.reshape(len(Y_test),1)),1))

[[1682.56  992.  ]
 [1461.84 2400.  ]
 [2247.78 3486.  ]
 ...
 [ 859.53  173.  ]
 [1935.25 1844.  ]
 [1423.09   25.  ]]

In [119]:
str(4+7)

'11'

In [120]:
[2, 4, 3, 8]+[4, 4, 5, 3]

[2, 4, 3, 8, 4, 4, 5, 3]

In [121]:
print('aggg, sggs')

aggg, sggs

In [122]:
print({'a':7, 'b':3})

{'a': 7, 'b': 3}

In [123]:
round(0.5)-round(-0.5)

0

In [124]:
True and False

False

In [128]:
5<4 and 7>6

False

In [126]:
'lack' != 'lack'

False

In [127]:
'john' == 'lwazi'

False

In [ ]:
def factorial(n):

      if n == 1: 

          return n

      else: 

          return n * factorial(n-1)

In [ ]:
factorial(6)

In [2]:
def factorial(n):

      if n == 1: 

          return n

      else: 

          return n * factorial(n-1)

In [4]:
factorial(6)

720